.product-card {
  cursor: pointer;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}